* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    position: top;
}

header {
    background-color: black;
    color: aquamarine;
    text-align: center;
}

#current-section {
    border: 1px solid black;
    text-align: center;
}

#forecast {
    border: 1px solid black;
}

.right-container {
    position: relative;
}